<div class="pt-5 pd-md-5 pb-0 bg-body-tertiary">
    <div class="container pb-0 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
                    <img src="assets/images/icon_small.png" width="40" height="40" class="d-inline-block align-top rounded" alt="Hostbeat App logo">
                    <strong class="fw-semibold fs-5 mx-2">Hostbeat</strong>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">
                        Monitor PCs & Macs remotely. Get alerts when they go offline. All from your phone.
                    </li>
                    <li class="mb-2">Hostbeat App v1.1.0</li>
                    <li class="mb-2">Hostbeat CLI Client v1.0.0</li>
                    <li class="mb-2">Hostbeat Windows 10/11 Client v1.2.2</li>
                </ul>
            </div>
            <div class="col-lg-2 offset-lg-2 mb-3">
                <h5>Creator</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://www.rubenarrebola.pro">About Me</a></li>
                    <li class="mb-2"><a href="https://www.rubenarrebola.pro/contact" target="_blank">Contact Me</a></li>
                </ul>
            </div>
            <div class="col-lg-2 offset-lg-1 mb-3">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Pricing</a></li>
                    <li class="mb-2"><a href="https://www.rubenarrebola.pro/contact">Support</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Changelog</a></li>
                    <li class="mb-2"><a href="#" target="_blank">F.A.Q</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Blog</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4">
        <div class="row align-items-center mt-3 pt-4 pb-3">
            <div class="col-md-4 order-3 order-md-3 text-md-end mb-2">
                <ul class="list-unstyled mb-0">
                    <li><a href="privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 order-1 order-md-2 text-md-center mb-2 mb-md-5">
                <img class="mb-2" src="assets/images/catalonia_flag.svg" width="24" height="15" style="border-radius: 2px" alt="catalonia flag">
                <p class="m-0">Made in Barcelona.</p>
            </div>
            <div class="col-md-4 order-2 order-md-1 mb-2">
                <p class="m-0">
                    <a href="https://www.rubenarrebola.pro">© Ruben Arrebola.</a><span> All rights reserved.</span>
                </p>
            </div>
        </div>
    </div>
</div>