.nav-title {
    color: var(--bs-nav-link-color);
    text-decoration: none;
}

.nav-item {
    border-radius: .3rem;
    text-decoration: none;
    color: var(--bs-nav-link-color);
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.nav-item:hover {
    border-radius: .3rem;
    background-color: rgb(13,110,253,.05);
    color: #086efd!important
}