<div class="container py-2">
    <header class="d-flex flex-column flex-md-row align-items-center pt-3">
        <div class="pe-0 pe-md-2">
            <a class="navbar-brand me-md-auto my-0 mx-0" href="/">
                <img src="assets/images/icon_small.png" width="40" height="40" class="d-inline-block align-top rounded" alt="Hostbeat App logo">
            </a>
        </div>
        <a class="me-md-auto mx-0 nav-title" href="/">
            <div class="pb-md-0 pb-2 pt-1 pt-md-1 mb-0 small lh-sm w-100 text-center text-md-start">
                <strong class="fw-semibold fs-5">Hostbeat</strong>
                <span class="d-block small">by Ruben Arrebola</span>
            </div>
        </a>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 nav-item" href="getting-started">Getting Started</a>
            <a class="p-2 nav-item" href="pricing">Pricing</a>
            <a class="p-2 nav-item" href="blog">Blog</a>
        </nav>
    </header>
</div>