<div class="pt-md-5 mb-3 mb-md-5">
    <div class="p-3 text-center">
        <h2>Features</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <ul class="row p-0 m-0 justify-content-center list-unstyled">
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-activity feature-icon"></i>
                    <h6 class="fw-bold">Stay informed</h6>
                    <p>Check computer status from your phone anywhere to see if it's online.</p>
                </li>
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-bell-fill feature-icon"></i>
                    <h6 class="fw-bold">Never miss an outage</h6>
                    <p>Get alerts on your phone when a computer goes off.</p>
                </li>
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-arrow-clockwise feature-icon"></i>
                    <h6 class="fw-bold">Continuous development</h6>
                    <p>In my free time, I develop, improve and maintain the platform so that it has the fewest possible errors and top features.</p>
                </li>
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-rocket feature-icon"></i>
                    <h6 class="fw-bold">Easy Setup</h6>
                    <p>Download the app and create a host. Install the hostbeat client on your computer and send a heartbeat with the host token.</p>
                </li>
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-brush feature-icon"></i>
                    <h6 class="fw-bold">User Friendly Design</h6>
                    <p>Cupertino app style, most user friendly for Apple users but also attractive for Android ones. Widgets, gestures, dark mode and many more...</p>
                </li>
                <li class="col-md-6 col-lg-4 pb-5">
                    <i class="bi-code-slash feature-icon"></i>
                    <h6 class="fw-bold">Open Source Client</h6>
                    <p>Open-source client for transparency. See exactly what data gets sent to our servers.</p>
                </li>
            </ul>
        </div>
    </div>
    <p class="small text-center text-muted mb-0">And many more features coming, stay tuned...</p>
</div>

@code {
    
}