<div class="py-md-5 pb-5">
    <div class="row">
        <div class="col-lg-5">
            <div class="text-center">
                <h1 class="display-4 py-2 text-md-start">Hostbeat App</h1>
                <p class="lead font-weight-normal pe-4 text-md-start">
                    Monitor PCs & Macs remotely. Get alerts when they go offline. All from your phone.
                </p>
            </div>
            <div class="py-3">
                <ul class="list-unstyled mb-2">
                    <li class="pt-2">
                        <a href="https://play.google.com/store/apps/details?id=pro.rubenarrebola.hostbeat" target="_blank" rel="noopener">
                            <img class="hover" src="assets/images/playstore_en.svg" height="60" alt="Google PlayStore Badge"/>
                        </a>
                    </li>
                    <li class="pt-2">
                        <a href="https://apps.apple.com/us/app/hostbeat/id1673592541" target="_blank" rel="noopener">
                            <img class="hover" src="assets/images/appstore_black_en.svg" height="70" alt="Apple AppStore Badge"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pt-4">
                <div class="d-flex justify-content-start">
                    <span class="pe-2 pb-2">
                        <img alt="App Rating One Star" width="26" height="26" src="assets/images/star.svg">
                        <img alt="App Rating Two Stars" width="26" height="26" src="assets/images/star.svg">
                        <img alt="App Rating Three Stars" width="26" height="26" src="assets/images/star.svg">
                        <img alt="App Rating Four Stars" width="26" height="26" src="assets/images/star.svg">
                        <img alt="App Rating Five Stars" width="26" height="26" src="assets/images/star.svg">
                    </span>
                </div>
                <div>
                    <span class="h3">
                        5 <small class="text-muted">out of 5</small>
                    </span>
                    <p class="text-muted pt-3">Step by step, starting with my own initiative and friends feedback.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-flex align-items-center justify-content-around">
            <img class="w-50" alt="App running on a phone" src="assets/images/iphone_appscreen.webp"/>
        </div>
    </div>
</div>

@code {
    
}