<div class="row py-5 text-center">
    <div class="pb-4">
        <h2>Hostbeat works across major operating systems</h2>
        <p class="lead">The client is open source and is available for Windows, Linux and MacOS</p>
    </div>
    <div class="pb-4 col-lg-6">
        <div class="py-md-3">
            <h4>Command-Line Client</h4>
            <div class="d-flex flex-wrap align-items-center justify-content-center gap-5 my-5 pb-md-2 px-3">
                <a class="d-flex flex-column align-items-center platform-link" href="https://github.com/ruben69695/hostbeat-cli" target="_blank">
                    <img class="d-block mb-3" src="assets/images/windows_logo.webp" height="60" alt="Windows logo" loading="lazy"/>
                    <p>Windows</p>
                </a>
                <a class="d-flex flex-column align-items-center platform-link" href="https://github.com/ruben69695/hostbeat-cli" target="_blank">
                    <img class="d-block mb-3" src="assets/images/linux_tux.webp" height="60" alt="Linux logo" loading="lazy"/>
                    <p>Linux</p>
                </a>
                <a class="d-flex flex-column align-items-center platform-link" href="https://github.com/ruben69695/hostbeat-cli" target="_blank">
                    <img class="d-block mb-3" src="assets/images/apple_logo.svg" height="60" alt="MacOS logo" loading="lazy"/>
                    <p>MacOS</p>
                </a>
            </div>
        </div>
    </div>
    <div class="pb-4 col-lg-6">
        <div class="py-md-3">
            <h4>Windows 10/11 Client</h4>
            <div class="d-flex flex-wrap align-items-center justify-content-center gap-5 my-5 pb-md-2 px-3">
                <a class="d-flex flex-column align-items-center" href="https://apps.microsoft.com/detail/9PPNR91LRTNL" target="_blank">
                    <img class="d-block mb-3" src="assets/images/microsoft_store_en.svg" height="60" alt="Microsoft Store logo" loading="lazy"/>
                </a>
            </div>
        </div>
    </div>
    <p class="small text-center text-muted mb-0">Requires Hostbeat App.</p>
</div>

@code {
    
}