<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <PageTitle>Hostbeat</PageTitle>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/icons/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="highlight/css/atom-one-dark.min.css"/>
    <link rel="stylesheet" href="HostbeatWeb.styles.css"/>
    <link href="{ASSEMBLY NAME}.styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="manifest" href="assets/manifest.json">
    <meta name="apple-itunes-app" content="app-id=1673592541">
    <HeadOutlet/>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="highlight/js/highlight.min.js"></script>
</body>
    
</html>
