@page "/account/registration-complete"

<div class="text-center pt-md-5 pb-md-5">
    <div style="height: 10rem; width: 100%; display: block;" ></div>
    <h1 class="display-5 py-2">Congratulations</h1>
    <p class="fw-light fs-5">Your email has been confirmed and now your registration is complete.</p>
    <p><i class="bi-check-circle" style="color: yellowgreen; font-size: 10rem;"></i></p>
    <div style="height:10rem; width: 100%; display: block;"></div>
</div>

@code {
    
}