@page "/install"

<div class="text-center pt-md-5 pb-md-5">
    <div style="height: 10rem; width: 100%; display: block;" ></div>
    <h1 class="display-5 py-2">Thank you for visit the app in the store</h1>
    <p class="fw-light fs-5">Be a founder today, signup in the app and grow into this experience with me.</p>
    <p><i class="bi-check-circle" style="color: yellowgreen; font-size: 10rem;"></i></p>
    <div style="height:10rem; width: 100%; display: block;"></div>
</div>