@page "/pricing"

<div class="text-center pt-md-5 pb-md-5">
    <div style="height: 10rem; width: 100%; display: block;" ></div>
    <h1 class="display-5 py-2">Free and Premium Plan</h1>
    <p class="fw-light fs-5">At the moment if you signup you are a founder user. Founders have Premium forever. </p>
    <div style="height:10rem; width: 100%; display: block;"></div>
</div>