@page "/privacy-policy"

<div class="py-5 px-5">
    <p><strong>Last updated</strong><br>March 17 2023</p>
    <h1 id="privacy-policy">Privacy Policy</h1>
    <p>
        The purpose of this Privacy Policy is to inform the user about the processing of their personal data that is carried out
        through the Hostbeat mobile application (hereinafter, the application).
    </p>
    <br>

    <h2 id="10-responsible-for-the-treatment">1.0 Responsible for the treatment</h2>
    <p>
        The person responsible for the processing of the user&#39;s personal data is Ruben Arrebola de Haro, with registered office
        at Sant Antoni de Vilamajor, 08459, Barcelona, and email <a href="mailto:ruben.arre6@gmail.com">Ruben Arrebola</a>.
    </p>
    <h3 id="11-purpose-of-the-treatment">1.1 Purpose of the treatment</h3>
    <p>The user&#39;s personal data is collected and processed for the following purposes:</p>
    <ul>
        <li>Manage registration and access to the application</li>
        <li>Provide the services requested by the user through the application</li>
        <li>Perform statistical analysis on the use and operation of the application </li>
        <li>Respond to user queries, claims or suggestions</li>
    </ul>
    <h3 id="12-legitimation-of-the-treatment">1.2 Legitimation of the treatment</h3>
    <p>The legal basis that legitimizes the processing of the user&#39;s personal data is the express and informed consent that the user gives by accepting this Privacy Policy when registering or accessing the application.</p>
    <br>

    <h2 id="20-data-recipients">2.0 Data Recipients</h2>
    <p>
        The user&#39;s personal data will not be transferred to third parties, unless there is a legal obligation or prior authorization from the user. However, to provide some services, it may be necessary for Rubén Arrebola to share the user&#39;s personal data with external providers who act as data processors.
        These providers are:
    </p>
    <ul>
        <li>Google LLC, which provides services like Firebase which is used to send notifications or for the Google Play Store application store where the application is published and contains analysis and debugging services for the application. </li>
        <li>Apple, Inc. which provides services for the App Store application store where the application is published.</li>
        <li>SendGrid, which is a communication platform used to send emails to the user. It can be for confirmation of email accounts, password recovery or communications.</li>
    </ul>
    <br>

    <h2 id="30-data-retention">3.0 Data Retention</h2>
    <p>The user&#39;s personal data will be kept for the time necessary to fulfill the purposes for which they were collected, unless the user exercises their right of deletion or opposes the treatment. In that case, you should contact us to remove your data from the application.</p>
    <br>

    <h2 id="40-user-rights">4.0 User Rights</h2>
    <p>The user has the right to:</p>
    <ul>
        <li>Access your personal data</li>
        <li>Rectify your personal data if they are inaccurate or incomplete</li>
        <li>Delete your personal data if it is no longer necessary or if you withdraw your consent</li>
        <li>Oppose the processing of your personal data for commercial purposes or based on legitimate interests </li>
        <li>Limit the processing of your personal data in certain circumstances</li>
        <li>Request the portability of your personal data in electronic format</li>
        <li>Revoke your consent at any time</li>
    </ul>
    <p>To exercise these rights, the user must send a written request to Rubén Arrebola&#39;s email, indicating his name and email address with which he registered on the platform.</p>
    <p>The user also has the right to file a claim with the Spanish Data Protection Agency or another competent authority if they consider that the processing of their data is contrary to data protection regulations.</p>

</div>